
body {
    margin: 0px;
    padding: 0px;
background-color: #F4F2EE;
font-family: sans-serif;

}


header {
background-color: white;
height: 60px;
display: flex;
align-items: center;
justify-content: space-around;
}


.logo{
    display: flex;
}
.Linkedin{
    color: #0A66C2;
    width: 40px;
    height: 40px;
}
.Searchbar{
    border: 1px solid rgb(115, 115, 115);
    border-radius: 15px;
    padding: 5px;
    height: 25px;
    width: 500px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    border: none;
    

}
.searchinput:focus{
   width: 400px;
   border: 2px solid #000000;


}
.searchinput{
    padding: 5px;
    height: 25px;
    width: 250px;
    border-radius: 15px;
    border: 1px solid gray;
    outline: none;
    background-color: none;

}


.tab img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%;
}
.tab a svg{
    width: 20px;
    height: 20px;
    margin-top: 5px;

}
.header-list{
    display: flex;
    gap: 20px;
    text-align: center;
 
}
svg{
    width: 35px;
    height: 35px;
    margin-top: 5px;
    color: gray;
}

.tab a{
    text-decoration: none;
    color: gray;

    font-size: 16px;
    display: block;
}

.tab:hover a, 
.tab:hover svg {
    color: black;
  
}

.Linkedin-User{
  margin-left: 200px;
  margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 700px;
    height: 550px;

}



.Linkedin-User img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 330px;
    left: 230px;
    border: 5px solid white;
}
.name{
    display: flex;
    gap: 2px;
    align-items: center;
    margin-top: 60px;
    text-align: center;
    margin-right: 0px;
    
}
.name h2{
    margin-left: 20px;
    margin-top: 25px;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;

}
.name svg{
    width: 25px;
    height: 25px;
    color: #747474;
    margin-top: 8px;
    

} 

.Linkedin-User .svg-notification{
    position: absolute;
    bottom: 340px;
    left: 850px;
    
}
.role{
    
    font-size: 16px;
    color: gray;
    font-family: sans-serif;
    position:absolute;
    top: 398px;
}

.portfolio{
    margin-left: 20px;
}
a{
    text-decoration: none;
}
.portfolio svg{
    width: 20px;
    height: 20px;
    color: #0A66C2;
    
}
.stat{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    color:#0A66C2 ;
}
.friends-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.image2{
    position: absolute;
    left: 240px;
}

.friends-profile a {
    margin-left: 18px;
position: relative;
bottom: 15px;
}
.institude{
position: relative;
left: 450px;
bottom: 200px;
display: flex;
align-items: center;
text-align: center;
align-self: center;
gap: 5px;
}

.institude img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.institude a{
    color: #000000;

}

.message-btn{
 width: 150px;
height: 40px;
background-color: #0A66C2;
border-radius: 10px;
color: white;
display: flex;
align-items: center;
text-align: center;
gap: 10px;
font-size: 17px;
}

.message-btn svg{
 color: white;
 margin: 5px;
}

.more-btn{
    width: 80px;
    height: 40px;
    border: 1px solid black;
    border-radius: 15px;
}
.btn{
    display: flex;
  justify-content: baseline;
gap: 10px;
position: absolute;
bottom: 50px;  
}

.highlight{
    

    margin-left: 200px;
    margin-top: 20px;
      background-color: white;
      border-radius: 5px;
      width: 700px;
      height: 150px;
  align-items: center;
  border: 0.01px solid grey ;
  
}
.highlight h2{

    margin-top: 30px;
margin-left:20px ;
}
.info-highlight{
    display: flex;
    margin-top: 25px;

}

.info-highlight img{
    width: 50px;
    height: 50px;
    margin-left: 18px;
    

 
}
.info-highlight div h4{
position: relative;
bottom: 20px;
    
}


.info-highlight div span{
    position: relative;
    bottom: 35px;

}

.about{
    margin-left: 200px;
    margin-top: 20px;
      background-color: white;
      border-radius: 5px;
      width: 700px;
      height: 300px;
  align-items: center;
  border: 0.01px solid grey ;
}

.about h4,.about p{
margin-left: 20px;

}
.skills{
    height: 60px;
border: 0.01px solid grey;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
}


.top-skill{
    margin-left: 10px;
}
.top-skill span{
position: relative;
bottom: 25px;
}

.skills img{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.skill-svg{position: absolute;
    right: 510px;
    margin-top: 12px;
}

.Activity{
    margin-left: 200px;
  margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 700px;
    height: 350px;
    border: 0.01px solid grey;
}


.Activity-btn{
    display: flex;
    gap: 30px;
}
.Activity h3, .Activity span, .Activity-btn, .Images,
.info-experience,.Experience h3{
    margin-left :20px;
}
.Activity span{
position:absolute;
top: 1180px;
    
}
.Activity-btn div{
    width: 100px;
    height: 25px;
    border: 0.1px solid grey;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    
}
.image-btn{
    color: #F4F2EE;
    background-color: #01754F;
}

.Images{
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.Images img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    

}
.show-images{
    border: 0.1px solid gray;
width: 700px;
height: 50px;
margin-left: 0px;
margin-top: 10px;
text-align: center;

}

.show-images h4{
    margin-top: 20px;
}

.Experience{
    margin-left: 200px;
    margin-top: 20px;
      background-color: white;
      border-radius: 5px;
      width: 700px;
      height: 1000px;
  align-items: end;
  border: 0.01px solid grey ;
}

.info-experience{
    display: flex;
    gap: 20px;
    text-align: start;
    align-items: start;
}

.info-experience img{
    width: 100px;
    height: 120px;
}

.info-experience p {
position: absolute;
top: 1300;


}